@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@

@using Xtricate.Web.Dashboard.Pages
@inherits Xtricate.Web.Dashboard.RazorPage
@{
    Layout = new LayoutPage();
    Title = "Home";
}
<h3>Welcome to the dashboard!</h3>