@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@

@inherits Xtricate.Web.Dashboard.RazorPage
@{
    Layout = new LayoutPage();
    bool first = true;
}
<h3>Welcome to the dashboard</h3>