@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@

@using System.Reflection
@using Xtricate.Web.Dashboard.Pages
@inherits Xtricate.Web.Dashboard.RazorPage
@{
    Layout = new LayoutPage();
    Title = "Home";
}

<!-- body goes here -->
<ul>
    <li>AppDomain: @AppDomain.CurrentDomain.FriendlyName</li>
    <li>Assembly: @Assembly.GetExecutingAssembly().FullName</li>
</ul>

<script type="text/javascript">
    console.log("@RequestFullPath");
</script>