@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@

@using Xtricate.Web.Dashboard.Pages
@inherits Xtricate.Web.Dashboard.RazorPage<Xtricate.Web.Dashboard.Models.DashboardInfoViewModel>
@{
    Layout = new LayoutPage();
    Title = "Info";
}

<h4>Routes</h4>
<ul>
    @foreach (var route in Model.Routes)
    {
        <li><a href="@Url.ToPage(route)">@route</a></li>
    }
</ul>
<h4>Javascripts</h4>
<ul>
    @foreach (var name in Model.Javascripts)
    {
        <li>@name</li>
    }
</ul>
<h4>Stylesheets</h4>
<ul>
    @foreach (var name in Model.Stylesheets)
    {
        <li>@name</li>
    }
</ul>

