@* Generator: Template TypeVisibility: Public GeneratePrettyNames: True *@

@using Xtricate.Templ
@using Xtricate.Web.Dashboard.Pages
@inherits Xtricate.Web.Dashboard.WebTemplate

@{
    Layout = new DefaultLayout();
    Title = "Home";
}

<!-- body goes here -->
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-dismissable alert-success">
            <button data-dismiss="alert" class="close" type="button">×</button>
            Welcome to the dashboard!
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Features
                </h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Popular js libs included</li>
                    <li>Razor syntax</li>
                    <li>Typescript support</li>
                    <li>Page layouts</li>
                    <li>Page includes</li>
                    <li>Page routes</li>
                    <li>Custom HtmlHelpers</li>
                    <li>OWIN middleware</li>
                    <li>Compiled into assembly (RazorGenerator)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Development
                </h3>
            </div>
            <div class="panel-body">
                <p>The following js libs are available:</p>
                <ul>
                    <li><a href="https://jquery.com/" target="_blank">jquery</a>, <a href="https://getbootstrap.com/docs/3.3/" target="_blank">bootstrap 3</a>, <a href="http://momentjs.com/" target="_blank">moment</a>, <a href="https://lodash.com/docs" target="_blank">lodash</a></li>
                    <li><a href="http://knockoutjs.com/" target="_blank">knockout</a> + <a href="http://knockoutjs.com/documentation/plugins-mapping.html" target="_blank">mapping</a></li>
                    <li><a href="https://vuejs.org/v2/guide/" target="_blank">vue</a>, <a href="https://vuex.vuejs.org/en/intro.html" target="_blank">vuex</a></li>
                    <li><a href="https://d3js.org/" target="_blank">d3</a>, <a href="https://gist.github.com/davo/4186300" target="_blank">d3.layout</a></li>
                    <li><a href="http://code.shutterstock.com/rickshaw/" target="_blank">rickshaw</a></li>
                    <li><a href="https://www.npmjs.com/package/sprintf-js" target="_blank">sprintf</a></li>
                </ul>
                <p>These libs can be extended by adding them to the Resources folder (css/js) and registration in the RouteCollectionBuilder.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Scripting
                </h3>
            </div>
            <div class="panel-body">
                <p>Javascript can be used inline:</p>
                <textarea readonly cols="80" rows="5">
                    <script type="text/javascript">
                        $(document).ready(function () {
                            console.log('hello from javascript');
                        });
                    </script>
                </textarea>

                <p>Typescript can be used inline:</p>
                <textarea readonly cols="80" rows="4">
                    <script type="text/typescript">
                        setTimeout(()=>console.log('hello from typescript'));
                    </script>
                </textarea>

                <p>Or in a seperate .ts file:</p>
                <textarea readonly cols="80" rows="5">
                    inherits Xtricate.Web.Dashboard.WebTemplate
                    {
                        ...
                        TypeScripts = new[] { Url.To("/_ts/" + GetType().Name) };
                    }
                </textarea>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Dummy
                </h3>
            </div>
            <div class="panel-body">
                @Html.LoremIpsum()
                @Html.LoremIpsum()
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    console.log("@RequestFullPath");
</script>


