html, body {
    height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;
}

.container .credit {
    margin: 20px 0;
}

.navbar-brand {
    padding: 7px 15px;
}

    .navbar-brand > img.logo {
        display: inline-block;
        margin-right: 10px;
    }

.btn-toolbar-label {
    padding: 7px 0;
    vertical-align: middle;
    display: inline-block;
}

.btn-toolbar-label-sm {
    padding: 5px 0;
}

.btn-toolbar-spacer {
    width: 10px;
    display: inline-block;
    height: 1px;
}

.btn-toolbar-top {
    margin-bottom: 10px;
}

.trace.error {
    cursor: pointer;
    color: #fff;
    background-color: #c0392b;
}

.detail.hide {
    display: none;
}