@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@

@using Xtricate.Service.Dashboard
@using Xtricate.Web.Dashboard
@using Xtricate.Web.Dashboard.Pages
@inherits Xtricate.Web.Dashboard.WebTemplate
@{
    Layout = new DefaultLayout();
    Scripts = new[] { Url.To("/js-treegrid") };
    Stylesheets = new[] { Url.To("/css-treegrid") };
    TypeScripts = new[] { Url.To("/_ts/" + GetType().Name) };
    Title = "Product Index";
}

<div class="row show-grid">
    <div class="col-md-4"><button id="refresh" class="btn btn-default btn-sm" data-bind="enabled: !isLoading()">Refresh</button></div>
    <div class="col-md-4"><span data-bind="visible: isLoading" class="glyphicon glyphicon-refresh glyphicon-spin"></span></div>
    <div class="col-md-4">&nbsp;</div>
</div>

<table class="table tree">
    <thead>
    <tr>
        <th>Category</th>
        <th>Id</th>
        <th>Name</th>
        <th>Sku</th>
        <th>Created</th>
    </tr>
    </thead>
    <tbody data-bind="template: { foreach: products }">
    <tr>
        <td>Category</td>
        <td><a data-bind="attr: { href:'@Url.To("/products")/'+id}, text: id"></a></td>
        <td data-bind="text: name"></td>
        <td data-bind="text: sku"></td>
        <td data-bind="text: created"></td>
    </tr>
    </tbody>
</table>

<script type="text/typescript">
    setTimeout(()=>console.log('hello from typescript inline'));
</script>

<script type="text/javascript">
    console.log('hello from javascript inline')
</script>
