@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@

@using Xtricate.Service.Dashboard
@using Xtricate.Web.Dashboard
@using Xtricate.Web.Dashboard.Templates
@inherits Xtricate.Web.Dashboard.RazorWebTemplate
@{
    Layout = new DefaultLayout();
    Scripts = new[] { Url.To("/js-treegrid") };
    Stylesheets = new[] { Url.To("/css-treegrid") };
    Title = "Products";
}

<div class="row show-grid">
    <div class="col-md-4"><button id="refresh" class="btn btn-default btn-sm" data-bind="enabled: !isLoading()">Refresh</button></div>
    <div class="col-md-4"><span data-bind="visible: isLoading" class="glyphicon glyphicon-refresh glyphicon-spin"></span></div>
    <div class="col-md-4">&nbsp;</div>
</div>

<table class="table tree">
    <thead>
        <tr>
            <th>Category</th>
            <th>Id</th>
            <th>Name</th>
            <th>Sku</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody data-bind="template: { foreach: products }">
    <tr>
        <td>Category</td>
        <td><a data-bind="attr: { href:'@Url.To("/products")/'+id}, text: id"></a></td>
        <td data-bind="text: name"></td>
        <td data-bind="text: sku"></td>
        <td data-bind="text: created"></td>
    </tr>
    </tbody>
</table>

<script type="text/javascript">
    var data = [];
    var viewModel = {
        isLoading: ko.observable(false),
        products: ko.observableArray(data)
    };
    ko.applyBindings(viewModel);

    $(document).ready(function () {
        Refresh();
    });

    $('#refresh').click(function () {
        Refresh();
        $('.tree').treegrid();
    });

    function Refresh() {
        viewModel.products(null);
        viewModel.isLoading(true);
        $.getJSON("/api/products", function (data) {
            //console.log(data);
            viewModel.isLoading(false);
            viewModel.products(data);
        });
    };
</script>
